@import url('https://fonts.googleapis.com/css?family=Cinzel:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Questrial');
/*---------------------- MAIN COLORS + FONTS -----------------------------------*/

body {
    background-color: #D9E0D9;
    font-family: 'Questrial';
}

footer {
    background-color: #cac2b0;
}

.font-light {
    font-family: "Cinzel", sans-serif;
    font-weight: 300;
}

/*--------------- HEADER -----------------------------------------------*/

.logo-paddings {
    padding-right: 0;
    padding-left: 0;
}

.logo-pic {
    background-size: cover;
    width: 100%;
}

#navpad {
    margin-top: 0;
}

.menuitem {
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    text-align: center;
    height: 80px;
    background-color: #cac2b0;
    margin-top: 4px;
    transition: all 0.4s ease-in-out;
    border-bottom-style: ridge;
}

.menuitem:hover {
    background-color: #b0c5ca;
}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 80px;
}

.menuitem a i {
    padding-top: 14px;
    display: block;
    font-size: 19px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 8px;
}

.alert-warning {
    margin-bottom: 0;
    padding: 5px 0 5px 0;
}

.alert-paragraph {
    padding-left: 15px;
}


/*--------------- FOOTER -----------------------------------------------*/

footer {
    border-top-style: ridge;
}

.copyright {
    margin-top: 26px;
    width: 160px;
    height: 40px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

.socials li a i {
    font-size: 38px;
    padding-top: 17px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.socials li a i:hover {
    color: brown;
    font-size: 45px;
    padding: 10px;
}

/*--------------- INDEX CONTENT -----------------------------------------------*/

.offer-board {
    background-color: #b0c5ca;
}

.btn-offer-board {
    color: #fff;
    background-color: #606998;
    width: 250px;
    font-size: 27px;
    height: 50px;
    margin-top: 10px;
}

.btn-offer-board:hover {
    color: #ccebf3;
}

.btn-offer-board:focus {
    color: #fff;
}

.jumbotron {
    background-color: #cac2b0;
    border-left: 1px solid;
    border-right: 1px solid;
}

.offer-board-text {
    padding: 0 10px 0 10px;
}

.offer-heading {
    margin-top: 0px;
}

.intro {
    margin: 0 30px 0 30px;
}

.alternative-pic {
    height: 70%;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.carousel-inner {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 20px;
}

.carousel-control {
    opacity: 0;
}


.btn-primary {
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #000;
    background-color: #cac2b0;
    border-color: #000;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    font-size: 50px;
    color: #cac2b0;
    background-color: #030303;
    border: 10px solid #cac2b0;

}

.wrapper p i {
    font-size: 38px;
    padding-left: 5px;

}

.reviews-header {
    margin: 0 0 20px;
    font-size: 30px;
}

#blockquotechanges {
    border-left: 1px solid #eee;
}

#spacing {
    margin-left: 15px;
    margin-bottom: 15px;
}

.img-circle {
    border-radius: 25%;
}


/*--------------- CONTACT US  -----------------------------------------------*/

.business-form {
    width: 75%;
}

.expand-form {
    min-height: 180px;
}

.btn-info {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2a2c2d;
    font-size: 20px;
    color: #2a2c2d;
    background-color: #cac2b0;
    transition: all 0.4s ease-in-out;
}

.btn-info:hover {
    color: #cac2b0;
    background-color: #2a2c2d;
    border-color: #cac2b0;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #2a2c2d;
    background-color: #cac2b0;
    border: 1px solid #2a2c2d;
}



/*--------------- GALLERY  -----------------------------------------------*/

.dogsimg {
    width: 100%;
    height: auto;
}

.imglink {
    display: block;
    margin: 2.5px;
}

.gallerywrap {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}


/*--------------- ABOUT US  -----------------------------------------------*/

.about-section {
    margin: 10px 20px 20px 20px;
}

/*--------------- ASK NICK MODAL  -----------------------------------------------*/

.askbutton-form {
    background-color: black;
}

.modal-title {
    background-color: #cac2b0;
    text-align: center;
    font-size: 20px;
}

.modal-header {
    padding: 15px;
    border-bottom: 2px solid #000;
    background-color: #cac2b0;
}

.modal-body {
    background-color: #cac2b0;
}

.askbutton-form {
    background-color: #cac2b0;
}

.modal-footer {
    border-top: 2px solid #000;
    background-color: #b0c5ca;
}

.btn-modal {
    margin-top: 10px;
    background-color: #d9e0d9;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.btn-modal:hover {
    background-color: #b0c5ca;
    border: solid 1px;
}

.btn-closenick {
    background-color: #d9e0d9;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.btn-closenick:hover {
    background-color: #cac2b0;
    border: solid 1px;
}

.placeholderpic {
    background: url("../images/gallery/nickG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 390px;
}

.aboutwrapper {
    font-size: 16px;
    text-transform: uppercase;


}

/*--------------- Media Queries  -----------------------------------------------*/

@media (min-width: 991px) {
    .offer-board-inner {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width: 991px) {
    .offer-board {
        margin: 20px 40px 0 40px;
        -webkit-box-shadow: 24px 11px 15px 9px rgba(0, 2, 3, 1);
        -moz-box-shadow: 24px 11px 15px 9px rgba(0, 2, 3, 1);
        box-shadow: 24px 11px 15px 9px rgba(0, 2, 3, 1);
    }
}

@media (min-width: 776px) {
    .about-section {
        font-size: 25px;
    }
}
