@import url('https://fonts.googleapis.com/css?family=Cinzel:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Quattrocento:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lateef:100,200,300,400,500,600,700');
/*---------------------- MAIN COLORS + FONTS -----------------------------------*/

header {
    background-color: #D9E0D9;

}

body {
    background-color: #D9E0D9;
    font-family: 'Questrial';

}

footer {
    background-color: #cac2b0;
}

.revheader {
    font-size: 35px;
    font-family: "Calibri light";
    font-weight: 600;
}

.font {
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Cinzel", sans-serif;
    font-weight: 300;
}

.font-nanum {
    font-family: Nanum-Gothic;
    font-weight: 500;
}

.font-calibri {
    font-family: 'Calibri light', sans-serif;
    font-weight: 400;
}

.thin {
    letter-spacing: 2px;
}

/*--------------- HEADER -----------------------------------------------*/

.spaces {
    padding-right: 0;
    padding-left: 0;

}

.headerpic {
    background-size: cover;
    width: 100%;

}



#navpad {
    margin-top: 0;
}

.menuitem {
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    text-align: center;
    height: 80px;
    background-color: #cac2b0;
    margin-top: 4px;
    transition: all 0.4s ease-in-out;

}

.menuitem:hover {
    background-color: #b0c5ca;

}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 80px;
}

.menuitem a i {
    padding-top: 14px;
    display: block;
    font-size: 19px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 8px;
}




/*--------------- FOOTER -----------------------------------------------*/

footer {
    border-top-style: ridge;
    border-bottom-style: ridge;
}

.copyright {
    margin-top: 26px;
    width: 160px;
    height: 40px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

.socials li a i {
    font-size: 38px;
    padding-top: 17px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.socials li a i:hover {
    color: brown;
    font-size: 45px;
    padding: 10px;
}

/*--------------- INDEX CONTENT -----------------------------------------------*/

.introparagraph {
    margin-top: 20px;
    border-bottom: solid 1px;
    font-family: 'Forum';
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.bodyparagraph {
    padding: 20px 20px 0 20px;
}

.indexpic {
    height: 40%;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.carousel-inner {
    margin: 0 auto;
    width: 40%;
    margin-bottom: 20px;
}

.carousel-control {
    opacity: 0;
}


.btn-primary {
    font-family: 'Acme', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #000;
    background-color: #cac2b0;
    border-color: #000;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    font-size: 50px;
    color: #cac2b0;
    background-color: #030303;
    border: 10px solid #cac2b0;

}

.wrapper p i {
    font-size: 38px;
    padding-left: 5px;

}

.page-header {
    margin: 20px 0 20px;
}

#blockquotechanges {
    border-left: 1px solid #eee;
}

#spacing {
    margin-left: 15px;
    margin-bottom: 15px;
}

.img-circle {
    border-radius: 25%;
}


/*--------------- CONTACT US  -----------------------------------------------*/

.contact-wrap {
    padding-top: 15px;
}

.btn-info {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2a2c2d;
    font-size: 20px;
    color: #2a2c2d;
    background-color: #cac2b0;
    transition: all 0.4s ease-in-out;
}

.btn-info:hover {
    color: #cac2b0;
    background-color: #2a2c2d;
    border-color: #cac2b0;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #2a2c2d;
    background-color: #cac2b0;
    border: 1px solid #2a2c2d;
}

.contactheader {
    margin-top: 0px;
}

/*--------------- GALLERY  -----------------------------------------------*/

.dogsimg {
    width: 28%;
    height: 28%;
    padding-bottom: 5px;
}



.gallerywrap {
    margin-top: 15px;
    margin-bottom: 15px;
}



/*--------------- ABOUT US  -----------------------------------------------*/

/*--------------- ASK NICK MODAL  -----------------------------------------------*/

.askbutton-form {
    background-color: black;
}

.modal-title {
    background-color: #cac2b0;
    text-align: center;
    font-size: 20px;
}

.modal-header {
    padding: 15px;
    border-bottom: 2px solid #000;
    background-color: #cac2b0;
}

.modal-body {
    background-color: #cac2b0;
}

.askbutton-form {
    background-color: #cac2b0;
}

.modal-footer {
    background-color: black;
}

.btn-modal {
    background-color: #d9e0d9;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.btn-modal:hover {
    background-color: #b0c5ca;
}

.btn-closenick {
    background-color: #d9e0d9;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.btn-closenick:hover {
    background-color: #b0c5ca;
}

.placeholderpic {
    background: url("../images/gallery/nickG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 390px;
}

.aboutwrapper {
    font-size: 16px;
    text-transform: uppercase;


}

/*--------------- Media Queries  -----------------------------------------------*/

@media (max-width: 991px) {
    .business-form {
        max-width: 60%;
        margin: 0 auto;

    }
}
