@import url('https://fonts.googleapis.com/css?family=Cinzel:100,200,300,400,500,600,700|Sans-serif:100,200,300,400,500,600,700');


/*---------------------- MAIN COLORS + FONTS -----------------------------------*/

header {
    background-color: #D9E0D9;

}

body {
    background-color: #D9E0D9;

}

footer {
    background-color: #cac2b0;
}

.font {
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Cinzel", sans-serif;
    font-weight: 300;
}

.font-nanum {
    font-family: Nanum-Gothic;
    font-weight: 500;
}

.font-calibri {
    font-family: 'Calibri light', sans-serif;
    font-weight: 400;
}

.thin {
    letter-spacing: 2px;
}

/*--------------- HEADER -----------------------------------------------*/

.spaces {
    padding-right: 0;
    padding-left: 0;

}

.headerpic {
    background-size: cover;
    width: 100%;

}



#navpad {
    margin-top: 0;
}

.menuitem {
    font-family: "Cinzel", sans-serif;
    font-weight: 600;
    text-align: center;
    height: 80px;
    background-color: #cac2b0;
    margin-top: 4px;
    transition: all 0.4s ease-in-out;

}

.menuitem:hover {
    background-color: #b0c5ca;

}


.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 80px;
}

.menuitem a i {
    padding-top: 14px;
    display: block;
    font-size: 19px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 8px;
}




/*--------------- FOOTER -----------------------------------------------*/

footer {
    border-top-style: ridge;
    border-bottom-style: ridge;
}

.copyright {
    height: 90px;
    display: flex;
    align-items: flex-end;
}

.socialicons {
    display: flex;
    justify-content: center;
    align-items: center;


}

.list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}

.socials li a i {
    font-size: 38px;
    padding-top: 17px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;

}

.socials li a i:hover {
    color: brown;
    font-size: 45px;
    padding: 10px;
}

/*--------------- INDEX CONTENT -----------------------------------------------*/

.firstheader {
    margin-top: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}

.secondheader {
    margin-top: 40px;
    margin-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Calibri light', sans-serif;
    font-weight: 400;

}

.btn-primary {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 37px;
    color: #000;
    background-color: #cac2b0;
    border-color: #000;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.btn-primary:hover {
    font-size: 50px;
    color: #cac2b0;
    background-color: #030303;
    border: 10px solid #cac2b0;

}

.wrapper p i {
    font-size: 38px;
    padding-left: 5px;

}

.revheader {
    font-size: 35px;
    font-family: "Calibri light";
    font-weight: 600;
}

#blockquotechanges {

    border-left: 1px solid #eee;
}

#spacing {
    margin-left: 15px;
    margin-bottom: 15px;
}

.img-circle {
    border-radius: 25%;
}

/*--------------- Contact Us  -----------------------------------------------*/

.business-form {
    margin-bottom: 25px;
    max-width: 60%;
    margin: 0 auto;
}

.btn-info {
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #2a2c2d;
    font-size: 20px;
    color: #2a2c2d;
    background-color: #cac2b0;
    transition: all 0.4s ease-in-out;
}

.btn-info:hover {
    color:#cac2b0;
    background-color: #2a2c2d;
    border-color: #cac2b0;
}




/*--------------- Media Queries  -----------------------------------------------*/

@media (min-width: 768px) {
    .secondheader {
        padding-right: 110px;
        padding-left: 110px;
    }
}

@media (min-width: 768px) {
    .business-form textarea rows="5" 
        
    
}